<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Server Side Error!</h1>
    <p>Working on it. Will be available shortly!</p>

<%- include('includes/end.ejs') %>